__pycache__/
.pytest_cache/
.idea/
.vscode/
build/

.coverage
.coverage.*

Local_only/
Solutions/
*_debug.*
*test_main*
!test_main.cpp

*.ipynb
*.dll
*.a
*.o
*.exe
*.egg-info
*venv/
.python-version

dist/